@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Default stylings */
:root {
  --primaryColor: #0c1f34;
  --hoverColor: #ffbd59;
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 75%);
  --bgColor: hsl(113, 11%, 85%);
  --inputColor: hsl(330, 12%, 97%);
  --inputColor: hsl(154, 14%, 90%);

  /*Font*/
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

html {
  font-size: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  font-size: var(--h2FontSize);
  cursor: pointer;
}

/* .img .video {
  height: auto;
  width: 100%;
} */

.message {
  display: none;
}

.showMessage {
  display: block;
  color: var(--whiteColor);
  padding: 10px;
  background: rgb(255, 0, 0);
  border-radius: 3px;
  text-align: center;
}

.showMessage {
  display: block;
  color: var(--blackColor);
  background: #ffff;
  border-radius: 3px;
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  color: var(--blackColor);
  background: var(--hoverColor);
}

.btn .icon {
  margin-left: 0.5rem;
}

.btn:hover {
  color: var(--primaryColor);
  background: var(--hoverColor);
}

/* //Pages styling */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #0c1f34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.NavLogo {
  img {
    width: 100px;
    height: 100px;
    position: center;
    left: 5px;
    cursor: pointer;
    align-items: center;
  }
}

.navbar a {
  position: relative;
  font-size: 10px;
  color: #ffffff;
  font-weight: 500;
  margin-left: 40px;
}

.navbar a:hover {
  color: var(--hoverColor);
  font-size: 12px;
  transition: 0.5s ease;
}
